<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.journal.model.comment.CommentDao">
	<select id="selectAllCommentnReply" parameterType="int"
		resultType="CommentBean">
		SELECT *
		FROM Comments
		WHERE post_id = #{postId}
		ORDER BY comment_id ASC, ord ASC, level ASC
	</select>
	<insert id="insertOneComment" parameterType="commentBean">
		INSERT INTO Comments (user_id, content, created_at,
		updated_at, nickname)
		VALUES (#{userId}, #{content}, now(), now(), #{nickname})
		where post_id=#{post_id}
	</insert>
	<insert id="insertOneReply" parameterType="commentBean">
		INSERT INTO Comments (
		post_id,
		user_id,
		content,
		created_at,
		updated_at,
		nickname,
		ord,
		level
		)
		SELECT
		#{postId},
		#{userId},
		#{content},
		NOW(),
		NOW(),
		#{nickname},
		IFNULL(MAX(ord), 0) + 1,
		1
		FROM Comments
		WHERE post_id = #{postId}
		FOR UPDATE
	</insert>
	<update id="updateOneCommentnReply" parameterType="commentBean">
		UPDATE Comments SET (content=#{content}, updatedAt=now()) WHERE
		post_id=#{post_id} AND comment_id=#{comment_id} AND ord=#{ord} AND
		level=#{level} AND user_id=#{userId})
	</update>
	<update id="deleteOneCommentnReply" parameterType="commentBean">
		UPDATE Comments SET is_deleted='true' WHERE post_id=#{post_id} AND
		comment_id=#{comment_id} AND ord=#{ord} AND level=#{level} AND
		user_id=#{userId})
	</update>

</mapper>